@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
  background-color: #3ed7bb;
  color: 	#2a607b;
  font-family: 'Press Start 2P', cursive;
  white-space: pre;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container{
display: flex;
  width: 100vw;
  justify-content: space-around;;
}

.master-controls{
  display: flex;
  justify-content: space-around;
}



.Sharps {
  color:#b96888
}

.Naturals {
  color: #51bdd4
}